<ng-container *ngIf="true">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <div class="table table-responsive">
          <thead>
            <tr>
              <th>Sr. No</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
            <tr>
              <td>1</td>
              <td>iPhone</td>
              <td>Some Image</td>
              <td>this is branded phone</td>
              <th>50</th>
              <td>1</td>
              <td>50</td>
              <td>
                <button class="btn btn-danger">
                  <i class="fas fa-trash alt"></i>
                </button>
              </td>
            </tr>
          </thead>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="false">
  <div class="container">
    <div class="card">
      <h5 class="card-title">Meu carrinho</h5>
    </div>
    <div class="center">
      <img
        src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
        alt="Carrinho vazio."
      />
      <h4>Seu carrinho está vazio!</h4>
      <h6>Adicione itens agora</h6>
      <button class="btn btn-primary">Compre agora</button>
    </div>
  </div>
</ng-container>
