<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 2.188rem; margin-left: 0.625rem;" class="fas fa-shipping-fast">&nbsp;
      </i>
      <strong style="font-size: 1.563rem;"> Minha loja</strong>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar produtos">
      </div>
      <span class="fas fa-search search-icon"></span>
      <button routerLink="cart" style="margin-left: 29.375rem;" class="btn btn-primary">
        <i style="font-size: 1.875rem;" class="fas fa-cart-plus"></i>
        <div style="font-size: 0.625rem;" class="badge bg-danger">{{ totalItem }}</div>
      </button>
    </div>
  </div>
</header>
